.select-list-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &--single {
    justify-content: flex-end;
  }
}

.select-list-footer__left-side {
  display: flex;
}
