.field-multiple-collaborators__items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 6px;
}

.field-multiple-collaborators__item {
  display: flex;
}

.field-multiple-collaborators__item--row-edit {
  margin-left: 0;
}
