.row-comments {
  @include absolute(0, 0, 0, 0);

  display: flex;
  flex-direction: column;
}

.row-comments__body {
  position: relative;
  height: 100%;
  overflow-y: auto;
  border-top-left-radius: 6px;
}

.row-comments__loading {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.row-comments__comment {
  padding: 0 20px;
  margin: 20px 0;
}

.row-comments__comment-head {
  display: flex;
  margin-bottom: 8px;

  .row-comments__comment--right & {
    justify-items: flex-end;
    flex-direction: row-reverse;
  }
}

.row-comments__comment-head-initial {
  flex: 0 0 30px;
  border-radius: 100%;
  background-color: $color-primary-500;
  color: $white;
  font-weight: bold;
  margin-right: 10px;

  @include center-text(30px, 12px);

  .row-comments__comment--right & {
    margin-right: 0;
    margin-left: 10px;
  }
}

.row-comments__comment-head-details {
  width: 100%;
  min-width: 0;
}

.row-comments__comment-head-name {
  @extend %ellipsis;

  font-size: 12px;
  margin-bottom: 2px;

  .row-comments__comment--right & {
    text-align: right;
  }
}

.row-comments__comment-head-time {
  @extend %ellipsis;

  font-size: 10px;
  color: $color-neutral-400;

  .row-comments__comment--right & {
    text-align: right;
  }
}

.row-comments__comment-text {
  font-size: 13px;
  line-height: 22px;
  background-color: $color-primary-200;
  padding: 10px;
  margin-right: 20px;
  border-radius: 6px;
  border-top-left-radius: 0;
  white-space: pre-line;
  word-wrap: break-word;

  .row-comments__comment--right & {
    text-align: right;
    margin-right: 0;
    margin-left: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 0;
  }
}

.row-comments__foot {
  position: relative;
  flex-shrink: 0;
  padding: 20px;
  border-top: solid 1px $color-neutral-200;
}

.row-comments__foot-fake-textarea {
  position: relative;
  appearance: none;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #9fa4ab;
  border-radius: 3px;
  padding: 8px 12px 8px 12px;
  outline: none;
  background-color: white;
}

.row-comments__foot-input {
  font-size: 14px;
  line-height: 22px;
  resize: none;
  padding: 0 0;
  border: 0;
  width: 100%;

  &--loading {
    margin-right: 7px;

    @include loading(14px);
  }

  &--loading-overlay {
    &::before {
      content: '';
      border-radius: 2px;
      background-color: rgba(0, 0, 0, 0.16);
      z-index: 2;

      @include absolute(0, 0, 0, 0);
    }
  }
}
