@import '@baserow/modules/core/assets/scss/default.scss';

.admin_content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.admin_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 16px 0 16px;
  height: 52px;
  background-color: $white;
  border-bottom: 2px solid $color-neutral-200;
}

.admin-header__link {
  font-weight: 600;
  color: $color-primary-900;
  border-radius: 3px;
  padding: 8px 9px;

  &:hover {
    text-decoration: none;
    background-color: $color-neutral-100;
  }

  &.active {
    background-color: $color-success-100;
  }

  &.active--primary {
    background-color: $color-primary-100;
  }

  &.active--warning {
    background-color: $color-warning-100;
  }

  &.active--error {
    background-color: $color-error-100;
  }
}

.user-admin-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.user-admin-rows {
  display: grid;
  height: 100%;
  flex-wrap: wrap;
  align-content: start;
  padding: 0;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, 300px) repeat(1, minmax(min-content, 300px)) minmax(min-content, 500px) repeat(3, minmax(min-content, 200px));
  background-color: $color-neutral-100;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow-x: auto;
}

.user-admin-rows__left {
  display: flex;
  flex-direction: column;
  width: 240px + 1px;
  border-right: solid 1px $color-neutral-300;
}

.user-admin-rows__right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
  align-items: stretch;
}

.user-admin-rows__foot {
  display: flex;
  padding: 0 10px;
  height: 44px;
  background-color: $color-neutral-50;
  border-top: solid 1px $color-neutral-200;
}

.user-admin-rows__field {
  @extend %ellipsis;

  background-color: $color-neutral-100;
  border-bottom: 1px solid $color-neutral-200;
  border-collapse: collapse;
  border-right: 1px solid $color-neutral-200;
  padding: 0 10px;
  position: sticky;
  top: 0;
  z-index: 0;

  @include fixed-height(33px, 13px);

  &.user-admin-rows__field-right {
    border-right: 2px solid $color-neutral-200;
    left: 0;
    z-index: 1;
  }

  &.user-admin-rows__field-sticky {
    left: 0;
    z-index: 1;
  }
}

.user-admin-rows__field-icon {
  margin-right: 6px;
}

.user-admin-rows__body {
  // Nothing
}

.user-admin-rows__row {
  display: flex;
  flex-wrap: nowrap;
}

.user-admin-rows__cell {
  @extend %ellipsis;

  background-color: $white;
  height: 49px;
  border-bottom: 1px solid $color-neutral-200;
  box-sizing: border-box;
  padding: 0 10px;

  @include fixed-height(49px, 12px);

  &.user-admin-rows__cell-right {
    border-right: 2px solid $color-neutral-200;
  }

  &.user-admin-rows__cell-sticky {
    position: sticky;
    left: 0;
  }

  //
  //&.user-admin-rows__cell--first {
  //  @extend %ellipsis;
  //
  //  flex-basis: 40px;
  //  line-height: 32px;
  //  padding-left: 8px;
  //}
}

.user-admin-rows__row--hover {
  cursor: pointer;

  .user-admin-rows__cell,
  .grid-view__cell {
    background-color: $color-primary-100;
  }
}

.user-admin-rows__row--selected {
  cursor: initial;

  .user-admin-rows__cell,
  .grid-view__cell {
    background-color: $color-neutral-50;
  }
}

.user-admin-rows__pagination {
  display: flex;
  align-items: center;
}

.user-admin-rows__pagination-name {
  margin-right: 14px;
}

.user-admin-rows__pagination-group {
  display: flex;
  border: solid 1px $color-neutral-400;
  border-radius: 3px;
  overflow: hidden;
  background-color: $white;

  > * {
    @include fixed-height(24px, 12px);

    &:not(:last-child) {
      border-right: solid 1px $color-neutral-400;
    }
  }
}

.user-admin-rows__pagination-button {
  color: $color-primary-900;
  text-align: center;
  padding: 0 10px;

  &:hover {
    background-color: $color-neutral-100;
  }

  &.user-admin-rows__pagination-button--disabled {
    cursor: initial;
    background-color: $color-neutral-100;
  }
}

.user-admin-rows__pagination-page-input {
  border: 0;
  border-radius: 0;
  width: 40px;
  text-align: center;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.user-admin-rows__pagination-count {
  padding: 0 10px;
  color: $color-neutral-500;
  border-right: solid 1px $color-neutral-400;
}

.user-admin-rows__initial-loading {
  position: relative;
  height: 44px + 33px + (33px * 10) + 44px;

  &::after {
    content: '';
    z-index: 5;
    margin: -7px auto auto -7px;

    @include loading(14px);
    @include absolute(50%, auto, auto, 50%);
  }
}

.user-admin-rows__loading {
  &::before {
    content: '';
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;

    @include absolute(0, 0, 0, 0);
  }

  &::after {
    content: '';
    z-index: 5;
    margin: -7px auto auto -7px;

    @include loading(14px);
    @include absolute(50%, auto, auto, 50%);
  }
}

.user-admin-rows__username {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-admin-rows__username--initials {
  flex: 0 0 28px;
  font-weight: bold;
  color: $white;
  background-color: $color-primary-500;
  border-radius: 100%;
  margin-right: 12px;

  @include center-text(28px, 15px);
}

.user-admin-rows__username--menu {
  @include fixed-height(24px, 14px);

  border-radius: 3px;
  color: $color-primary-900;
  padding: 0 5px;
  margin-left: auto;

  &:hover {
    text-decoration: none;
    background-color: $color-neutral-100;
  }
}

.user-admin-rows__active-icon {
  margin-right: 5px;
  color: $color-success-500;
}

.user-admin-rows__deactive-icon {
  margin-right: 5px;
  color: $color-error-500;
}

.user-admin-rows__cell-group {
  display: flex;
  align-items: center;
}

.user-admin-rows__cell-group-container {
  height: 49px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  flex-shrink: 3;
}

.user-admin-rows__cell-group-item {
  @include fixed-height(28px, 12px);

  flex: 0 1 auto;
  border-radius: 15px;
  padding: 0 10px;
  margin-right: 5px;
  margin-top: 11px;
  margin-bottom: 10px;
  background-color: $color-neutral-100;
  box-sizing: border-box;
}

.user-admin-rows__cell-group-hidden-item {
  @include fixed-height(28px, 12px);

  border-radius: 15px;
  margin: 5px 10px;
  background-color: $color-neutral-100;
  box-sizing: border-box;
}

.user-admin-rows__cell-group-inner {
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 1;
}

.user-admin-rows__cell-group-plus {
  @include fixed-height(28px, 12px);

  padding: 0 10px;
  border-radius: 15px;
  border: 1px solid $color-neutral-200;
  color: $color-primary-900;

  &:hover {
    text-decoration: none;
    background-color: $color-neutral-100;
  }
}
