@import '@baserow/modules/core/assets/scss/default.scss';

.admin_content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.admin_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 16px 0 16px;
  height: 52px;
  background-color: $white;
  border-bottom: 2px solid $color-neutral-200;
}

.admin-header__link {
  font-weight: 600;
  color: $color-primary-900;
  border-radius: 3px;
  padding: 8px 9px;

  &:hover {
    text-decoration: none;
    background-color: $color-neutral-100;
  }

  &.active {
    background-color: $color-success-100;
  }

  &.active--primary {
    background-color: $color-primary-100;
  }

  &.active--warning {
    background-color: $color-warning-100;
  }

  &.active--error {
    background-color: $color-error-100;
  }
}

.user-admin-rows {
  display: flex;
  height: 100%;
  background-color: $color-neutral-100;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  align-items: stretch;
}

.user-admin-rows__left {
  display: flex;
  flex-direction: column;
  width: 240px + 1px;
  border-right: solid 1px $color-neutral-300;
}

.user-admin-rows__right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
  align-items: stretch;
}

.user-admin-rows__foot {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 0 10px;
  height: 44px;
  background-color: $color-neutral-50;
  border-top: solid 1px $color-neutral-200;
}

.user-admin-rows__head {
  display: flex;
  flex-wrap: nowrap;
}

.user-admin-rows__field {
  @extend %ellipsis;

  background-color: $color-neutral-100;
  border-bottom: 1px solid $color-neutral-200;
  border-collapse: collapse;
  border-right: 1px solid $color-neutral-200;
  padding: 0 10px;
  flex-grow: 1;

  @include fixed-height(33px, 13px);

  //.user-admin-rows__right & {
  //  border-right: 1px solid $color-neutral-200;
  //}

  &.user-admin-rows__field--first {
    flex-grow: 0;
  }
}

.user-admin-rows__field-icon {
  margin-right: 6px;
}

.user-admin-rows__body {
  // Nothing
}

.user-admin-rows__row {
  display: flex;
  flex-wrap: nowrap;
}

.user-admin-rows__cell {
  position: relative;
  flex: 0 0 200px;
  background-color: $white;
  height: 33px;
  border-bottom: 1px solid $color-neutral-200;

  .user-admin-rows__right & {
    border-right: 1px solid $color-neutral-200;
  }

  &.user-admin-rows__cell--first {
    @extend %ellipsis;

    flex-basis: 40px;
    line-height: 32px;
    padding-left: 8px;
  }
}

.user-admin-rows__row--hover {
  cursor: pointer;

  .user-admin-rows__cell,
  .grid-view__cell {
    background-color: $color-primary-100;
  }
}

.user-admin-rows__row--selected {
  cursor: initial;

  .user-admin-rows__cell,
  .grid-view__cell {
    background-color: $color-neutral-50;
  }
}

.user-admin-rows__pagination {
  display: flex;
  align-items: center;
}

.user-admin-rows__pagination-name {
  margin-right: 14px;
}

.user-admin-rows__pagination-group {
  display: flex;
  border: solid 1px $color-neutral-400;
  border-radius: 3px;
  overflow: hidden;
  background-color: $white;

  > * {
    @include fixed-height(24px, 12px);

    &:not(:last-child) {
      border-right: solid 1px $color-neutral-400;
    }
  }
}

.user-admin-rows__pagination-button {
  color: $color-primary-900;
  text-align: center;
  padding: 0 10px;

  &:hover {
    background-color: $color-neutral-100;
  }

  &.user-admin-rows__pagination-button--disabled {
    cursor: initial;
    background-color: $color-neutral-100;
  }
}

.user-admin-rows__pagination-page-input {
  border: 0;
  border-radius: 0;
  width: 40px;
  text-align: center;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.user-admin-rows__pagination-count {
  padding: 0 10px;
  color: $color-neutral-500;
  border-right: solid 1px $color-neutral-400;
}
