.hidings {
  padding: 0 16px 16px 16px;
}

.hidings__item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 6px;
  padding: 0;

  .switch i {
    margin-right: 6px;
    margin-left: 10px;
    color: $color-neutral-600;
  }
}

.hidings__footer {
  display: flex;
  flex-direction: row;
  margin-top: 16px;

  .first-button {
    margin-right: 10px;
  }
}
