.hidings {
  padding: 16px;
}

li.hidings__item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 6px;
  padding: 0;

  & > * {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .switch {
    margin-right: 16px;
  }
}

.hidings__footer {
  display: flex;
  flex-direction: row;
  margin-top: 16px;

  > button {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
