$modal-topbar-height: 56;

.modal__wrapper {
  position: fixed;
  inset: 0;
  overflow: auto;
  z-index: $z-index-modal;
  background-color: rgba($color-neutral-700, 0.16);
  scrollbar-gutter: stable;
}

.modal {
  --modal-topbar-height: #{$modal-topbar-height}px;

  background-color: $white;
  position: relative;
  margin: 40px auto;
  max-width: 660px;

  @include elevation($elevation-medium);
  @include rounded($rounded-md);

  &.modal--full-screen {
    @include absolute(20px);

    max-width: none;
    margin: 0;
    overflow: auto;
  }

  &.modal--full-height {
    height: calc(100% - 80px);
  }

  &.modal--full-max-height {
    max-height: calc(100% - 80px);
  }

  &.modal--wide {
    max-width: 720px;
  }

  &.modal--small {
    max-width: 520px;
  }

  &.modal--tiny {
    max-width: 320px;
  }

  &.modal--right {
    margin-right: 20px;

    @media (max-width: 720px) {
      max-width: calc(100% - 50px);
    }
  }

  &.modal--with-sidebar {
    max-width: 960px;
  }

  &.modal--with-topbar {
    display: flex;
    flex-direction: column;
  }
}

.modal__box-wrapper {
  display: block;
  width: 100%;
  height: 100%;

  .modal--with-sidebar & {
    display: flex;
    padding: 0;
  }

  .modal--with-topbar & {
    height: calc(100% - var(--modal-topbar-height));
  }
}

.modal__title {
  margin: 0;
  border-bottom: 1px solid $palette-neutral-200;
  word-break: break-word;
  box-sizing: border-box;
  padding: 18px 24px;

  @include flex-align-items;

  &.modal__title--no-padding-left {
    padding-left: 0;
  }
}

.modal__box-topbar {
  height: var(--modal-topbar-height);
  width: 100%;
  padding: 12px 24px;
  border-bottom: 1px solid $palette-neutral-200;
  display: flex;
  align-items: center;
}

.modal__box-sidebar {
  position: relative;
  background-color: $color-neutral-50;
  flex: 0 0;

  &.modal__box-sidebar--scrollable {
    overflow-y: auto;
  }

  &.modal__box-sidebar--left {
    flex-basis: 200px;
    border-right: 1px solid $color-neutral-200;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &.modal__box-sidebar--right {
    flex-basis: 300px;
    border-left: 1px solid $color-neutral-200;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &.modal__box-sidebar--collapsed {
    flex-basis: 0;
  }
}

.modal__actions {
  @include absolute(16px, 16px, auto, auto);

  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
}

.modal__close,
%modal-close {
  font-size: 16px;
  color: $palette-neutral-700;

  &:hover {
    color: $palette-neutral-900;
  }
}

.modal__collapse {
  @extend %modal-close;

  margin-right: 4px;
}

.modal__head {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: solid 1px $color-neutral-200;
}

.modal__content {
  padding: 24px;
}

.modal__footer {
  border-top: 1px solid $palette-neutral-200;
  height: 75px;
  justify-content: flex-end;
  padding: 0 24px;

  @include flex-align-items(12px);
}

.modal__content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  flex: 1;
  scrollbar-gutter: stable;

  &.modal__content-wrapper--scrollable {
    overflow-y: auto;
  }
}

.modal__box-topbar-actions {
  margin-left: auto;

  @include flex-align-items(5px);
}

.modal__box-topbar-icons {
  @include flex-align-items(2px);

  list-style: none;

  &::after {
    content: '';
    width: 1px;
    height: 16px;
    background-color: $palette-neutral-200;
    margin: 0 16px 0 10px;
  }
}

.modal__box-topbar-icon {
  font-size: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $palette-neutral-700;

  @include rounded($rounded-md);

  &:hover,
  &--active {
    background-color: $palette-neutral-100;
    color: $palette-neutral-900;
    cursor: pointer;
  }
}

.modal__box-topbar-icon-close {
  color: $palette-neutral-700;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    color: $palette-neutral-900;
  }
}
