// TODO How much of this CSS should be shared with existing stuff

.search__context {
  position: relative;
  z-index: 1;
  border-bottom: solid 2px $color-neutral-200;
}

.search__context-icon {
  color: $color-neutral-300;
  z-index: 2;

  @include absolute(auto, auto, auto, 16px);
  @include fixed-height(44px, 13px);
}

.search__context-input {
  position: relative;
  z-index: 1;
  appearance: none;
  display: block;
  width: 100%;
  border: 1px solid $color-neutral-400;
  border-radius: 3px;
  padding: 8px 12px 8px 44px;
  outline: none;

  &:active,
  &:focus {
    border-color: $color-primary-500;
  }

  &.input--large {
    padding: 12px 12px;
  }

  &.input--error {
    border-color: $color-error-500;
  }

  @include fixed-height(44px, 14px);
}
