.trash__unselected-group-icon {
  color: $color-neutral-300;
}

.trash__trashed-group-link {
  text-decoration-line: line-through;

  &:hover {
    text-decoration: line-through;
  }
}

.trash-box-title {
  padding-bottom: 5px;
}

.trash-box-title__header {
  margin-bottom: 5px;
}

.trash-sub-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.trash-sub-header__title {
  color: $color-neutral-400;
}

.trash-contents__loading-box {
  display: flex;
  justify-content: center;
}

.trash-side-bar {
  height: 600px;
  overflow: auto;
}

.trash-confirm-empty__cancel-button {
  color: $black;
  margin-right: 10px;

  &:hover {
    color: $black;
  }
}

.trash-empty-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.trash-empty-contents__icon {
  margin-top: 60px;
  margin-bottom: 35px;
  color: $color-primary-500;
  font-size: 50px;
}

.trash-empty-contents__text {
  color: $color-neutral-500;
}
